@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{
    body, html{
        @apply bg-primary/5 font-sans 
    }
}

@layer components{

    .desktop-nav-link{
        @apply
         mx-1 
         text-base
         hover:text-primary 
         transition-all 
         duration-300 
         px-3 py-2 
         relative
         before:block 
         before:absolute 
         before:w-full 
         before:h-[2px] 
         before:bg-primary 
         before:opacity-0 
         before:left-0 before:bottom-0
         before:-translate-y-2
         hover:before:opacity-100
         hover:before:-translate-y-0
         before:transition-all before:duration-300;
    }

    .mark{
        @apply border border-red-500;
    }

    .cst-shadow{
        @apply shadow-gray-200;
    }

    .dog-content h2{
        @apply text-3xl font-medium mb-5;
    }
    .dog-content h3{
        @apply text-xl font-medium mb-5;
    }
    .dog-content p{
        @apply text-base font-light mb-5;
    }
    .dog-content ul{
        @apply mb-5 list-decimal list-inside;
    }
    .dog-content ul li{
        @apply pb-2;
    }
}

.cst-shadow{
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}